In [5]:
import pandas as pd
for block_no in range(1,112):
    # Read the final result CSV file with total consumption
    final_result_df = pd.read_csv(f"..\\Dataset\\Created\\Daily\\block{block_no}_all_lids_dailyhours.csv")
    
    # Convert 'day' column to datetime datatype
    final_result_df['day'] = pd.to_datetime(final_result_df['day'])
    
    # Extract month and year from the 'day' column
    final_result_df['month'] = final_result_df['day'].dt.month
    final_result_df['year'] = final_result_df['day'].dt.year
    
    # Group by month, year, and LCLid, and sum up the energy consumption for each time period
    consolidated_df = final_result_df.groupby(['LCLid', 'year', 'month']).agg({
        'morning': 'sum',
        'afternoon': 'sum',
        'evening': 'sum',
        'night': 'sum',
        'total_consumption': 'sum'
    }).reset_index()
    
    # Write the consolidated result to a new CSV file
    consolidated_df.to_csv(f"..\\Dataset\\Created\\Monthly\\block{block_no}_consolidated_usage_by_month.csv", index=False)
    print("Done",block_no)

Done 1
Done 2
Done 3
Done 4
Done 5
Done 6
Done 7
Done 8
Done 9
Done 10
Done 11
Done 12
Done 13
Done 14
Done 15
Done 16
Done 17
Done 18
Done 19
Done 20
Done 21
Done 22
Done 23
Done 24
Done 25
Done 26
Done 27
Done 28
Done 29
Done 30
Done 31
Done 32
Done 33
Done 34
Done 35
Done 36
Done 37
Done 38
Done 39
Done 40
Done 41
Done 42
Done 43
Done 44
Done 45
Done 46
Done 47
Done 48
Done 49
Done 50
Done 51
Done 52
Done 53
Done 54
Done 55
Done 56
Done 57
Done 58
Done 59
Done 60
Done 61
Done 62
Done 63
Done 64
Done 65
Done 66
Done 67
Done 68
Done 69
Done 70
Done 71
Done 72
Done 73
Done 74
Done 75
Done 76
Done 77
Done 78
Done 79
Done 80
Done 81
Done 82
Done 83
Done 84
Done 85
Done 86
Done 87
Done 88
Done 89
Done 90
Done 91
Done 92
Done 93
Done 94
Done 95
Done 96
Done 97
Done 98
Done 99
Done 100
Done 101
Done 102
Done 103
Done 104
Done 105
Done 106
Done 107
Done 108
Done 109
Done 110
Done 111

In [4]:
consolidated_df.head()

,LCLid,year,month,morning,afternoon,evening,night,total_consumption
0,MAC000131,2011,12,33.655,42.949,63.012,62.994,202.610
1,MAC000131,2012,1,56.666,64.408,115.926,107.898,344.898
2,MAC000131,2012,2,50.510,66.065,106.375,103.467,326.417
3,MAC000131,2012,3,60.657,50.525,88.566,114.803,314.551
4,MAC000131,2012,4,69.825,97.192,116.526,84.461,368.004