## Create Daily Values based on timeslots for all users in a block

In [6]:
import pandas as pd
for block_no in range(28,112):
    
    # Read the first CSV file
    df1 = pd.read_csv(f"..\\Dataset\\archive\daily_dataset.csv")
    
    # Read the second CSV file
    df2 = pd.read_csv(f"..\\Dataset\\archive\\hhblock_dataset\\hhblock_dataset\\block_{block_no}.csv")
    
    # Get unique LCLids from block_22.csv
    unique_lids = df2['LCLid'].unique()
    
    # List to store individual result dataframes
    result_dfs = []
    
    # Loop through each LCLid
    for lid in unique_lids:
        # Filter data for the current LCLid in both dataframes
        df1_filtered = df1[df1['LCLid'] == lid]
        df2_filtered = df2[df2['LCLid'] == lid]
        
        # Merge the two dataframes on 'LCLid' and 'day'
        merged_df = pd.merge(df1_filtered, df2_filtered, on=['LCLid', 'day'])
        
        # Define a function to calculate morning, afternoon, evening, and night
        def categorize_hours(row):
            morning = row['hh_12':'hh_24'].sum()
            afternoon = row['hh_25':'hh_32'].sum()
            evening = row['hh_33':'hh_40'].sum()
            night = row.drop(['LCLid', 'day', 'energy_median', 'energy_mean', 'energy_max', 'energy_count', 'energy_std', 'energy_sum', 'energy_min']).sum() - morning - afternoon - evening
            return pd.Series([morning, afternoon, evening, night], index=['morning', 'afternoon', 'evening', 'night'])
    
        # Apply the function to each row
        new_df = merged_df.apply(categorize_hours, axis=1)
    
        # Concatenate the original columns with the categorized hours
        result_df = pd.concat([merged_df[['LCLid', 'day']], new_df], axis=1)
        
        # Append the result dataframe to the list
        result_dfs.append(result_df)
    
    # Concatenate all the result dataframes
    final_result = pd.concat(result_dfs)
    final_result['total_consumption'] = final_result['morning'] + final_result['afternoon'] + final_result['evening'] + final_result['night']

    final_result.to_csv(f"..\\Dataset\\Created\\Daily\\block{block_no}_all_lids_dailyhours.csv", index=False)
    print("Done:",block_no)
    # Write the final result to a new CSV file

Done: 28
Done: 29
Done: 30
Done: 31
Done: 32
Done: 33
Done: 34
Done: 35
Done: 36
Done: 37
Done: 38
Done: 39
Done: 40
Done: 41
Done: 42
Done: 43
Done: 44
Done: 45
Done: 46
Done: 47
Done: 48
Done: 49
Done: 50
Done: 51
Done: 52
Done: 53
Done: 54
Done: 55
Done: 56
Done: 57
Done: 58
Done: 59
Done: 60
Done: 61
Done: 62
Done: 63
Done: 64
Done: 65
Done: 66
Done: 67
Done: 68
Done: 69
Done: 70
Done: 71
Done: 72
Done: 73
Done: 74
Done: 75
Done: 76
Done: 77
Done: 78
Done: 79
Done: 80
Done: 81
Done: 82
Done: 83
Done: 84
Done: 85
Done: 86
Done: 87
Done: 88
Done: 89
Done: 90
Done: 91
Done: 92
Done: 93
Done: 94
Done: 95
Done: 96
Done: 97
Done: 98
Done: 99
Done: 100
Done: 101
Done: 102
Done: 103
Done: 104
Done: 105
Done: 106
Done: 107
Done: 108
Done: 109
Done: 110
Done: 111

In [6]:
final_result.head()

       LCLid         day  morning  afternoon  evening  night
0  MAC000131  2011-12-16    3.722      1.565    4.165  4.764
1  MAC000131  2011-12-17    2.302      1.895    3.202  1.712
2  MAC000131  2011-12-18    1.808      2.855    3.366  2.482
3  MAC000131  2011-12-19    3.093      2.377    4.990  5.187
4  MAC000131  2011-12-20    4.513      3.059    5.222  4.366

In [17]:
final_result.to_csv(f"..\\Dataset\\Created\\Daily\\block{block_no}_all_lids_dailyhours.csv", index=False)

In [18]:
import pandas as pd

# Read the final result CSV file
final_result_df = pd.read_csv("..\\Dataset\\Created\\block_all_lids_dailyhours.csv")

# Calculate total consumption for each day
final_result_df['total_consumption'] = final_result_df['morning'] + final_result_df['afternoon'] + final_result_df['evening'] + final_result_df['night']

# Write the updated result to a new CSV file
final_result_df.to_csv(f"..\\Dataset\\Created\\block{block_no}_all_lids_dailyhours.csv", index=False)

In [19]:
final_result_df.head()

,LCLid,day,morning,afternoon,evening,night,total_consumption
0,MAC000131,2011-12-16,3.722,1.565,4.165,4.764,14.216
1,MAC000131,2011-12-17,2.302,1.895,3.202,1.712,9.111
2,MAC000131,2011-12-18,1.808,2.855,3.366,2.482,10.511
3,MAC000131,2011-12-19,3.093,2.377,4.990,5.187,15.647
4,MAC000131,2011-12-20,4.513,3.059,5.222,4.366,17.160